$twitter_color: #1da1f2;
$behance_color: #1769ff;
$fb-color: #3b5998;
$vimeo-color: #1ab7ea;
$snapchat-color: #fffc00;
$air-color: #fd5c63;
$amazon-color: #ff9900;
$android-color: #a4c639;
$stack-color: #376db6;
$ubuntu-color: #dd4814;
$github-color: #4078c0;
$js-color: #f7df1e;
