@import "variables";

.la-twitter {
  color: $twitter_color;
}

.la-behance {
  color: $behance_color;
}

.la-facebook-f {
  color: $fb-color;
}

.la-vimeo {
  color: $vimeo-color;
}
.la-snapchat-ghost {
  color: $snapchat-color;
}
.la-airbnb {
  color: $air-color;
}

.la-amazon {
  color: $amazon-color;
}

.la-android {
  color: $android-color;
}

.la-stack-overflow {
  color: $stack-color;
}

.la-ubuntu {
  color: $ubuntu-color;
}

.la-github {
  color: $github-color;
}

.la-js-square {
  color: $js-color;
}
